@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Roboto", sans-serif ;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #3B63B6;
    color: white;
    padding: 20px 40px;
}

ul {
    display: flex;
    gap: 40px;
    list-style-type: none;
}



header a {
    text-decoration: none; 
    color: white;
    text-transform: uppercase;
    font-size: 14px;
}

header a:hover {
    text-decoration: underline; 
    color: #bababa;
}

.img{
    width:450px;
    
}

h2{
    font-size: 50px;
    margin: 0;
}

p{
    font-size: 15px;
}

#saiba-mais{
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

#saiba-mais button{
    background-color: #3B63B6;
    color: white;
    padding: 12px 35px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
}

#saiba-mais button:hover{
    background-color: #2f4f95;
    font-weight: bold;
    cursor: pointer;

}

#quem-somos{
    margin-top: 80px;
    margin-bottom: 80px;
    border-top: 1px solid #ddd;
    display: flex;
    gap: 48px;
    justify-content: center;
    align-items: center;
}

#quem-somos div{
    text-align: left;
    width: 60%;
}

#quem-somos img{
    width: 40%;
}


#planos {
    display: flex;          
    flex-direction: column;  
    align-items: center;    
    text-align: center;      
    gap: 20px;               
}

table {
    width: 100%;
    max-width: 800px; 
    border-collapse: collapse;
    font-size: 14px;
}

th, td {
    border: 1px solid #e0e0e0; 
    padding: 15px; 
}

th {
    text-align: left;
    font-weight: bold;
    color: #000;
}

td {
    text-align: center;
}

thead th.titulo {
    text-align: center;
    color: #000;
    font-weight: 900;
}

.btn-whatsapp {
    position: fixed;
    bottom: 30px;    
    right: 30px;    
    
    background-color: #25d366; 
    color: #FFF;
    width: 60px;
    height: 60px;
    border-radius: 50%; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.btn-whatsapp:hover {
    background-color: #20b85a;
}


#rodape{
    text-align: center;
    font-size: 12px;
    color: #999;    
    padding: 20px;
    border-top: 1px solid #ddd;
}

